%button {
    padding: 15px 20px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
$large: 1024px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(0,0,0,0.75);
}

a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    background: none;
    outline: none;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 59px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    padding: 0 3rem;
    background-color: #fff;
    z-index: 900;
    &-item {
        padding: 20px;
        transition: .3s;
        &:hover {
            background-color: #ccc;
        }
    }
}

.page-title {
    padding-bottom: 30px;
}

.container {
    padding: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.news-card {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
    padding: 20px;
    position: relative;
    &--link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: bold;
        top: 0; left: 0; bottom: 0; right: 0;
        transition: .3s;
        span {
            display: none;
            color: #fff
        }
        &:hover {
            background-color: rgba(0,0,0,0.75);
        }
        &:hover > span {
            display: block;
        }
    }
    &--title, &--text-content {
        padding-bottom: 20px;
    }
    &--details {
        font-size: 13px;
        p {
            color: grey;

        }
    }
}

footer {
    background-color: #212121;
    padding: 50px 0;
    text-align: center;
    p {
        color: #fff;
        line-height: 1.5;
        &:first-child {
            font-size: 1.2rem
        }
        &.p-title {
            font-size: 1.4rem;
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 8px;
        i {
            font-size: 2rem;
            margin-right: 10px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.first-news {
    display: flex;
    flex-direction: column;
    .illustration {
        position: relative;
        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0; left: 0; right: 0 ; bottom: 0;
            background-color: rgba(0,0,0,0.6);
            @media (min-width: $large) {
               display: none;
            }
        }
        img {
            width: 100%;
            
        }
        @media (min-width: $large) {
            width: 54%;
            margin-top: 2rem;
        }
    }
    .text-content {
        position: absolute;
        padding: 0 3rem;
        text-align: center;
        h2, p {
            padding: 16px 0;
            color: #fff;
            @media (min-width: $large) {
                color: inherit;
            }
        }
        @media (min-width: 600px) {
            margin-top: 2rem;
        }
        @media (min-width: 750px) {
            margin-top: 8rem;
        }
        @media (min-width: $large) {
            width: 40%;
            position: relative;
            margin-top: 15px;
        }
    }
    @media (min-width: $large) {
        padding: 0 3rem;
        flex-direction: row;
    }
    
    .btn-default {
        @extend %button;
        padding: 15px 50px;
        color: #fff;
        border-color: #fff;
        font-weight: bold;
        margin-top: 15px;
        @media (min-width: $large) {
            color: inherit;
            border-color: inherit;
        }
    }
}

form {
    max-width: 400px;
    margin: 0 auto;
    input {
        margin-bottom: 15px;
    }
}




